<?xml version="1.0"?>
<robot name="dynamixel_test" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="world"/>

  <joint name="joint1" type="continuous">
    <parent link="world"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="link1">
    <visual>
      <origin xyz="0 0.25 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.2"/>
      </geometry>
      <color rgba="0.8 0.0 0.0 1.0"/>
    </visual>
  </link>

  <joint name="joint2" type="continuous">
    <parent link="world"/>
    <child link="link2"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.5 0 0" rpy="0 0 0"/>
  </joint>

  <link name="link2">
    <visual>
      <origin xyz="0 0.25 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.5 0.2"/>
      </geometry>
      <color rgba="0.0 0.0 0.8 1.0"/>
    </visual>
  </link>

  <ros2_control name="ros2_control_dynamixel" type="system">
    <hardware>
      <plugin>dynamixel_hardware/DynamixelHardware</plugin>
      <param name="usb_port">/dev/ttyUSB0</param>
      <param name="baud_rate">1000000</param>
      <param name="use_dummy">false</param>
    </hardware>
    <joint name="joint1">
      <param name="id">11</param>
      <param name="protocol">TTL</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint2">
      <param name="id">22</param>
      <param name="protocol">RS</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

</robot>
